*.iml
.gradle/
.idea/
.DS_Store
.externalNativeBuild
.cxx
local.properties
xcuserdata
build/
captures/
images/
Pods/
*.podspec
google-services.json
*.db
*.db-journal
.kotlin/
GoogleService-Info.plist
.crush/
.env
